/*-----------------------------------------------BLOB-IMAGE----------------------------------------------*/
.blobImage {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background: url('https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-size: cover;
    background-position: center;
    transition: 1s;
    position: absolute;
   /* animation: blob 3.7s linear infinite;*/
}

#runnyLarge {
    color: #1abc9c;
}

.weird {
    margin-left: 1rem;
}

@media (max-width: 70rem) {
    .weird span {
        font-size: 3rem;
    }
}



#evenyLarge {
    color: #20a8cd;
}

@keyframes spin1 { 100% { transform:rotate(20deg); } }



.largeHidden {
    position: relative;
    margin-top: 64px;
    margin-left: 78px;
    font-size: 12rem;
    /*color: #d5d5d5;*/
    color: #3498db;
    opacity: 0;
    transition: 3s;
    transform: translateY(30px);
}

.blobImageSwimrunny {
    background: url("../images/swimruny-image.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
}


.blobImageRunny {
    background: url("../images/image-runny.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
}

.blobImageRelays {
    background: url("../images/relays-image.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.blobImageEveny {
    background: url("../images/school.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
}

@keyframes blob {
    0%, 100% {
        border-radius:
            42% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33% {
        border-radius:
            42% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius:
            100% 56% 56% 100% / 100% 100% 56% 56%;
    }

    77% {
        border-radius:
            100% 56% 56% 100% / 100% 100% 56% 56%;
    }

    100% {
        border-radius:
            90%;
    }
}
/*-----------------------------------------------BLOB-IMAGE----------------------------------------------*/

.newSubtitle {
    transform: translate(-200%, 0);
}

.leftIcon {
    height: 700px ;
    width: 700px;
}

.superSpace {
        margin-top: 18rem;
}

.modernSection {
    /* display: grid;*/
     /*overflow: hidden;*/
    /* width: 80% !important;*/
   
   }
   
   .modernSection img {
     display: grid;
     z-index: 0;
   
   }
   
   #rlso {
     grid-area: 1/1;
   }
   
   
   #forRelays img {
     grid-area: 1/1;
   }
   
   .offGridImage {
     width: 333px; /*arger width expand*/
     position: absolute;
     z-index: -1;
   
   }
   
   .offGridImageOverlay {
     /*width: 800px;
     height: 800px;*/
     position: absolute;
     background: black;
     opacity: 0.2;
     z-index: -1;
   }
   /*18:18:43 orbit drops 04/04*/

   




.noUnderline {
    text-decoration: none;
    font-weight: bold;
    color: #053c59;
}
/*
.floatF {
    display: block;
}*/
.indexFooter {
    margin-top: 8em;
	padding-top: 0em;
}

.newFilipName {
    opacity: 0;
    margin-top: 1rem;
    font-size: 3.2rem;
}

.firstName {
    transform: rotate3d(2,1,2, 90deg);
}


#hero {
   /* margin-top: 50px;*/
   margin-top: 120px;
}


#hero h2 {
    text-align: center;
   /* -webkit-text-fill-color: white; 
-webkit-text-stroke-color: rgb(8, 39, 82);*/
/* Will override color (regardless of order) */

  }

  .w80 {
    width: 60%;
  }

  #hero h4{
    text-align: center;
    color: gray;
    font-size: 1.2rem;
  }

  #hero h4 {
  background: #106a9b;
  color: white;
  padding: 0.3rem;
  width: 403px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  }

  .oneMoreOverlay{
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    border-radius: 3rem;
   /* margin-top: 18rem;*/
  }


  #relaysa, #evenysa, #runnysa, #swimrunnysa {
    background: white;
    transition: 1s;
  }

  #relaysOverlay{
    grid-area: 1/1;
  }

.xstores{
    grid-area: 1/1;
    opacity: 0;
 
  }

  .ystores{
    grid-area: 1/1;
    opacity: 0;
 
  }

  .zstores{
    grid-area: 1/1;
   /* opacity: 0;*/
  }



  .lstores{
    grid-area: 1/1;
    opacity: 0;
 
  }


  #relaysa {
    grid-area: 1/1;
  }

/*
  #evenyOverlay {
    margin-top: 1000px;
  }*/
  


/*----------------APP ICONS-----------*/
#hero .app1 {
    width: 100px;
    height: auto;
    margin-left: 60%;
}

#hero .app2 {
    width: 100px;
    height: auto;
    margin-left: 80%;
}


#hero .app3 {
    width:100px;
    height: auto;
    margin-left: 20%;
}


.smallCorner {
    border-radius: 14px;
}

.storess {
    display: flex;
    justify-content: start;
}

.leftIcon {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6em;

  }

  .leftAppWrapper {
     
     /* width: 600px;*/

     width: 100%;
  }

.stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.appDesc {
    color: #2f2f2f;
    font-weight: bold;
    padding: 3rem;
   max-width: 700px;
}
/*
.stores img {
  width: 70%;
}*/

.clear {
    border: none;
}


#designTop336 {
  margin-top: 447px;
}

.leftIcon h2 {
    color: #2f2f2f
}



.boldLarge {
    display: flex;
    flex-wrap: wrap;
    margin-left: 83px;
    margin-top: 200px;
   
}

.boldLarge p {
    margin: 0.1em;
}

.noScale {
  /*color: white;*/
  /*color: transparent;*/
 /*-webkit-text-fill-color: rgb(47, 47, 47);*/

 font-size: 2.5rem;

 /*NEW STYLE ??*/
 font-size: 3rem;
 font-weight: bolder;
}

.noScaled {
    /*color: white;*/
    /*color: transparent;*/
   /*-webkit-text-fill-color: rgb(47, 47, 47);*/
  
   font-size: 2.5rem;
  
   /*NEW STYLE ??*/
   font-size: 3rem;
   font-weight: bolder;
  }


.bluens {
    color: #106a9b;
}



.blob {
    width: 20%;
    height: auto;
    margin-bottom: -20%;
    z-index: -1;
  }

  .upperBlob {
  /*  width: 40%; */
    width: 300px;
    position: absolute;
    margin-bottom: -30%;
    margin-left: 30%;
    opacity: 0.4;
  }


  .upperRightBlob {
    width: 30%;
    position: absolute;
    margin-top: -20%;
    margin-left: 70%;
  }

  .app1, .app2, .app3 {
    display: none !important;
  }


  /*--------------------------------NAME-----------------------------*/
  .nameWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px solid orange;*/
    overflow: hidden;
  }

  .firstChildSpan {
    color: #1abc9c;
  }
/*
  .firstChildSpan {
    display: inline-block;
  }*/


  /*211238 zoom-in*/

  .floatF {
    font-size: 3rem;
  }

  .floatF span {
    display: inline-block;
    transform: translate(0px,256px);
    font-family: Bebas Neue;
    font-size: 10rem;
    opacity: 0;
  }




  .nameWrap {
   /* align-items: flex-start;*/
    margin-left: 30px;
    margin-left: auto;
    margin-right: auto;
    /*width: 462px;*/
}


  .nameWrap > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .lastName {
    margin-left: 3rem !important;
  }


  

 

body {
   background: #ecf0f1; /*10:05:17 Okay 01/04*/
  /*  background: #ffffff;*/
   /* background: #99d2f0;*/
}

.newFilipName {
    margin: 0;
    font-size: 7rem; /*5rem*/
}


#hero h2 {
    color: #106a9b;
}



nav {
    color: #3498db;
}

/*
.boldLarge {
  margin-top: 300px;
}*/

.appsWrapper {
  margin-top: 400px;
}

.modernSection {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 14px;
    }

.sidesImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}



#design #makeBig {
    transform: scale(0);
    visibility: hidden;
    width: 0;
    height: 0;
}
/*
.stroked {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
   
}

.relaysStroked {
    -webkit-text-stroke-color: #0742b8;
}

.evenyStroked {
    -webkit-text-stroke-color: #3498db;
}

.runnyStroked {
    -webkit-text-stroke-color: #10b997;
}

.swimrunnyStroked {
    -webkit-text-stroke-color: #108fb9;
}*/


#relaysOverlay, #evenyOverlay, #runnyOverlay, #swimrunnyOverlay {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
   /* margin-bottom: 6rem;*/
    margin-top: 6rem;
}

#relaysCover, #evenyCover,  #runnyCover, #swimrunnyCover {
    width: 100%;
    height: 100vh;
    background: rgb(199, 199, 199);
    grid-area: 1/1;
}

/*  typing 3.5s steps(40, end), */

@keyframes typing { /* 20:34:00 */
    from {width: 0}
    to {width: 100%}
}
/*
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}*/

.designBtn {
    width: 6em;
    margin-top: 6em;
    background-color: white !important;
    color: #3498DB;
}
        #onTop {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
            
        }

        #onTop img {
            grid-area: 1/1;
            width: 600px;
        }

        #onTop h2 {
            grid-area: 1/1;
            text-align: center;
        }

        #onTop button {
            grid-area: 1/1;
            
        }

        .clear {
                border: none;
            }

#apps {
    position: absolute;
    background: #cee9f8;
   /* height: 3058px;*/
    border-radius: 60px;
    z-index: -1;
    width: 100%;
}






/*
#design {
    background: #ffffff;
}
*/

.square {

   

    grid-area: 1/1;
    z-index: -1;
    width: 80%;
    opacity: 80%;
border-radius: 1em;

    /* width: initial;*/
    /* 232155*/
}

.dots {
    width: 200px;
    margin-left: 300px;
    filter: none;
    opacity: 0.25;
}

.floatingSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*border: 3px solid blue;*/
    margin-left: 10%;
   /* width: 500px;*/
}

.sm-a {
    font-size: 1.33rem;
    color: #3b3b3b;
    margin-left: 220px;
    margin-bottom: -20px;
    width: 143px;
    height: 50px;
}

.floatingSection .floatContent {
    grid-area: 1/1;
    margin-top: 50px;
}

.floatContent .filipName {
    font-size: 10rem;
    color: rgb(78, 149, 215);
    margin-left: 200px;
    font-family: 'Babas Neue';
    font-style: italic;
    -webkit-text-stroke: 2px rgb(11, 122, 182);
    color: white;
    transform: scale(0.0);
    opacity: 0.0;
}

.dots {
    transform: scale(0.0);
    opacity: 0.0;
}

.floatDescription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*border: 1px solid orange;*/
    width: 500px; /*CUPLRIT 1*/ 

    /*floatDescription + floatingSection*/
    margin-left: 30px;
}

/*floatDescription BY ITSELF IS THE CULPRIT + .appWrapper*/

.floatDescription img {
    grid-area: 1/1;
}

.floatDescription p {
    grid-area: 1/1;
}

.floatingSectionWrapper {
    display: flex;
    flex-direction: row;
    /* 225815*/
    align-items: center;
    flex-wrap: wrap;
}

.floatingSectionWrapper p {
    /*border: 2px solid orange;*/
    margin-right: 10%;
    font-weight: bold;
    margin-left: 64px;
    width: 313px;
    height: 200px;
}

.motionWrapper {
    position: sticky;
    top: 0;

}

/* #apps {
             position: absolute;
             background: #3498db;
             width: 100%;
             height: 900px;
             z-index: -1;
         } */


.outerW {
    position: relative;
}

#images {
    width: 30%;
    display: flex;
    justify-content: center;
}


.blur {
    position: absolute;
    top: 0;
    width: 100%;
   /* height: 100em;*/
    /*height: 100%;*/
    /*background: white;*/

    backdrop-filter: blur(2px);
    opacity: 0.0;
    pointer-events: none;
}

.aboutWrapper {
    /*position: relative;
    top: 400px;*/
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    width: 60%;
    margin-left: 20%;
    /*transform: scale(0);*/
    opacity: 0.0;
}

.boldLarge {
    font-size: 1.2rem;
    font-weight: bold;
  }


.sh {
    margin-top: 12rem;
  /*  margin-top: 25rem;*/
   /* margin-top: 9rem;*/
}

.aboutMe {
    padding: 0.5em;
    background: #0a7ab6 !important;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 300px;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    width: 8em;
    z-index: 999;
}

.closeModal {
    border: none;
    padding: 1em;
    background: none;
    font-weight: bold;
    font-size: 1.4em;
    margin-right: auto;
}


.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   /* margin-top: 402px;*/
}

.smp {
    width: 30px;
    height: 30px;
}

.pad {
    margin: 1em;
    margin-bottom: 0.5em;
}


.boldLarge {

margin-top: 8rem;
margin-bottom: 5em; /*Danger line*/
}

.adobeRow {
    display: flex;
    justify-content: center;
}








.adobeRow>* {
    margin: 0.5em;
}

.graphicTitle {
    text-align: center;
    font-size: 2em;
    margin-top: 3em;
  color: #2f2f2f
}

#main button {
    width: 10em;
    margin-left: calc(50vw - 5em);
}

#main {
    padding-top: 7em;
}

.designTitle {
    font-size: 5rem;
    color: #106a9b;
}

.whiteColor {
  color: #5fa4c8;
  color: #4894ae
}

.adobeIcon {
    width: 50px;
    height: 50px;
}

.leftIcon {
box-shadow: 2px 2px 20px #d2c6c6;
border-radius:  8% 9% / 8% 9%;
width: 84%;
}
/*04/04/2023 22:14:16*/

@media (max-device-width: 415px) {

    .firstImage {
       /* display: none; */
        margin-left: 15rem !important;
    }
   

    .dontShowMobile {
        display: none;
    }

    .superSpace {
        margin-top: 9rem;
    }

    .largeHidden {
        font-size: 3rem;
       transform: translateY(150px) !important;
       margin-left: 28px;
    }
   

    .upperBlob {
            /*  width: 40%; */
              width: 120px;
    }

    #top1 {
        margin-top: 8rem;
    }

    .leftIcon {
        height: 850px;
    }

    .oneMoreOverlay {
        margin-top: 12rem;
    }

    .leftIcon h2 {
        position: relative;
        z-index: 1;
    }


  .floatF span {
    display: inline-block;
    transform: translate(0px,256px);
    font-family: Bebas Neue;
    font-size: 2rem;
  }

    .blobImage {
            width: 210px;
            height: 180px;
            /*margin-top: -2rem;*/
    }

    #relaysOverlay, #evenyOverlay, #runnyOverlay, #swimrunnyOverlay {
        margin-bottom: 0;
        margin-top: 0;
    }

    .cover {
        overflow-x: scroll;
        max-height: 480px;
        margin-top: -280px;
    }

    #rls > img {
        margin-left: 8rem;
    }

    .stores {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 150px;
    }


    #hero h4 {
        width: 307px;
        font-size: 1rem;
    }


    #hero .app2 {
     margin-left: 60%;
     margin-top: 20px;
    }

    #hero .app1 {
        width: 70px;
    }

    #hero .app2 {
        width: 80px;
    }

    #hero .app3 {
        width: 75px;
    }
   
.newFilipName {
    margin-top: 1rem;
    font-size: 2rem;
}



    .sm-a {
        margin-left: 30px;
    }

    .floatContent .filipName {
        font-size: 7rem;
        margin-left: 0px;
    }

    .floatDescription p {
        margin-left: 0px;
    }
    
    /*
    onTopFloat => FirstPage => AppsWrapper
    FloatingSectionWrapper

    S(".appsWrapper").style.display = "none"
     S(".appsWrapper").style.display = "block"

    S(".floatingSectionWrapper").style.display = "none";
    S(".floatingSectionWrapper").style.display = "block";

    */

    .sm-a{
      /*  font-size: 3rem; */
       /* width: auto;*/
    }

    .boldLarge {
        margin-top: 250px;
    }

    .appsWrapper {
        margin-top: 800px;
    }
    
    .floatingSectionWrapper p {
       /* font-size: 3rem; */
       /* width: 500px;*/
    }

    .boldLarge {
        display: flex;
        flex-wrap: wrap;
       /* margin-left: 179px; */
    }

    .smallCorner {
        border-radius: 8px;
    }



    .app-img {
        border-radius: 20px;
    }

    .adobeIcon {
        width: 60px;
        height: 60px;
    }

    #main button {
        margin-top: 8em;
    }

    .arrow {
      /*  font-size: 3em; */
    }

}

/*--------DIVA--------*/


.side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3em;
}

.app h3 {
    height: 1.2em;
}

.app p {
    height: 1.5em;
}

.app {
    margin: 0;
    padding: 0;
    color: white;
}


.myDescription {
    color: rgb(11 72 93);
}
/*
@media (max-width: 1471px) {
.filipName {
    position: absolute;
    margin-bottom: 3em;
    border: 2px solid orange;
}
}

@media (max-width: 1134px) {
    .filipName {
        position: absolute;
        margin-bottom: -8em;
        border: 2px solid rgb(40, 175, 146);
    }
    }*/

@media (max-width: 70em) {


  

    .blobImage {
        margin-left: -2rem;
    }
    .floatF span {
        font-size: 6rem;
    }

.newFilipName {
    font-size: 2.4rem;
}

.storess {
    display: flex;
    justify-content: center;
}

.storess img {
    width: 250px
}

    .leftIcon h2 {
        text-align: center;
    }

    .leftAppWrapper{
        margin-left: 0em;
        width: auto;
          }

    .leftIcon {
        
        flex-direction: column;
    }

    #designTop336 {
        margin-top: 338px;
    }
   
   
/*
.aboutWrapper {
    position: absolute;
    top: 600px;
}*/
   

    .sh {
        margin-top: 17rem;
    }
    
    .side {
        grid-template-columns: 1fr;
        margin-bottom: 0em;
    }

    .app {
        margin-bottom: 3em;
    }

    .aboutWrapper {
        width: 85%;
    margin-left: 7.5%;
    }
}

.down {
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
    color: #3498db;
    font-weight: bold;
    border-radius: 0.5em;
    background: none;
    border: 2px solid #3498Db;
    /* margin-left: auto;*/
}


.down:focus {
    outline: none;
}

.tar-outline {
    background: white !important;
    color: #3498db !important;
    border: 4px solid #3498db !important;
}

.arrow {
    border: none;
    font-weight: bold;
    font-size: 2em;

}

footer {
    /*  padding-bottom: 0em;  */
    margin-top: 10em;
}

.app-img {
    width: 10em;
    border-radius: 45px;
    border: 1px solid gray;
}

.bottom-btn {
    margin-bottom: 8em !important;
}

.app {
    padding-bottom: 3em;
    text-align: center;
}

.app-title {
    font-size: 3em;
    color: #2f2f2f
}

.desc {
    color: #2f2f2f
}


.appstore {
    width: 10em;
    margin: 1em;
    object-fit: contain;
}

.macinformer {
    height: 3.2rem;
}

.macinformerSection {
    display: flex;
    justify-content: center;
    align-items: center;
}


.desc {
    font-size: 1em;
    text-align: center;
}


h3 {
    text-align: center;
}

h3 {
    font-size: 2em;
}

.link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #3498db;
    text-align: center;
    padding: 1em;
}


.item {
    text-align: center;
    font-weight: bold;
}

.about {
    margin-top: 6rem;
    /*margin-bottom: 1em;*/
   /* margin-left: 2rem; */
   text-align: center;
}

h3 {
    margin-top: 0.5em;
}
/*
.app-title-web {
    margin-top: 1.5em;
}*/

.bottom-about {
    margin-top: 2em;
}


.bottom-about-web {
    margin-top: 1em;
}



.smaller {
    margin-top: 2em;
    margin-bottom: 0.5em;
}


/*
        RANKING FUNCTIONS
        
        
        ROWNNUMBER
        ENTILE
        
        RANK()*/

        @media screen and (max-width: 1075px){
           #hero .app3 {
                margin-top: 10px;
            }

            #hero .app2 {
                margin-top: 180px;
            }
        }

        @media screen and (min-width: 70rem){
        .leftIcon h2 {
            padding-left:3rem; 
        }

       

       

       
    }


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    .down {
        margin-top: 8em;
    }
}

@media (max-width: 593px) {
    #hero .app1 {
        margin-left: 30%;
    }

#hero .app2 {
    margin-left: 60%;
}
}

@media (max-width: 70em) {

    .lastName {
        margin-left:0.5rem !important;
      }

      .largeHidden {
        font-size: 7rem;
    }


    .down {
        /* margin-top: 10em;*/
    }

   

    .newSubtitle {
        margin-bottom: 1.4rem;
    }

    .side {
        margin-left: 0;
    }

    /*
    .appDesc {
        text-align: center;
    }
    */

}

@media (max-device-width: 415px) {
    .largeHidden {
        font-size: 2rem;
    }

   

    .designTitle {
        font-size: 3rem;
        padding: 0.8rem;
        text-align: left;
        padding-left: 2rem;
    }

    .floatF span {
        font-size: 2rem;
    }

    .newFilipName {
        font-size: 2rem;
    }
    #designTop336 {
        margin-top: 1036px;
    }


    .boldLarge {
        margin-top: 157px;
    }

    .tar {
        font-size: 1.1em;
    }


.leftIcon h2 {
font-size: 2em;
/*text-align: center;*/
margin-top:1em
}

    .appDesc {
        font-size: 1em;
        padding: 1em;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
       
    }

/*141239 19/07/2022 Done*/

.leftIcon {
    padding: 0;
}
    .aboutWrapper {
        width: 90%;
    margin-left: 5%;
    }

    #apps {
       /* height: 6058px;*/
    }

    .app-img {
        width: 10em;
        border-radius: 32px;
    }

    .item {
        font-size: 3em;
    }

    .appstore {
       /* width: 16em;*/
       /* margin-left: 50vw - 10em;*/
    }

    .down {
        font-size: 3em;
        margin-top: 3em;
    }

    .desc {
        font-size: 1.2em;
        margin-bottom: 0.8em;
        text-align: center;

    }

    .app-title {
        font-size: 2em;

    }

    .app .desc {
        margin-bottom: 0.5em;
    }

    .app {
        margin-bottom: 8em;
    }

    .aboutMe {
        font-size: 1.8em;
    }
}





/*
.appsWrapper {
    display: none !important; LIKELY NO PROBLEM 
}*/
/*
.floatDescription {
    display: none !important;
}*/


.appsWrapper {
    /*DOES NOT OFFSET PAGE IS OKAY !!! */
   /* display: none !important; */
}



.floatingSectionWrapper {
   /* display: none !important; */
}

/*.floatingSection {
  width: 500px; 
} 

.floatContent {
    display: none;
}*/




/*appsWrapper + .floatingSection {
    width: 500px;
    indexStyle.css 160
} is BAD*/




/*23:54:43 okay*/
.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid black;
    
    transition: all 200ms ease-out;
   /* position: fixed; NOT WORKING IN SAFARI*/
    pointer-events: none;
    margin-left: 0; /* was top: 0, top: 0 */
    margin-top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    display: inline;
  }


.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }