

.dist, .time {
	font-size: 1.77em;
}
    .sportTitle {
        margin-left: 0.4em;
    }

		.two {
			padding-left: 0.8em;
		}

		.time {
			color: #106a9b;
		}
		

		.blob1 {
			view-transition-name: app1;
		}
		
		.blue {
			color: blue;
		}

		.blobSport {
			position: absolute;
			width: 40%;
			margin-top: 0%;
			margin-left: 70%;
			z-index: -1;
		}

		.smallerBlob {
			width: 400px !important;
		}
		
		.firstTitle {
			font-size: 2em;
			text-align: center;
			color: black;
			padding-top: 1em;
		}
		
		.below {
			display: grid;
			grid-template-columns: 1fr 1fr;
			
			grid-gap: 1em;
		}
		
		
		.backImage {
			width: auto;
			height: 30vw;
			background-position: center;
			background-size: cover;
			
		}
		
		
		
		.pb {
			padding: 1em;
			font-size: 1.33rem;
			
		}
		
		.pb p {
		text-align: center;
		}
		
		.pb .time {
			font-weight: bold;
          /*  -webkit-text-stroke: 2px rgb(11, 122, 182);
    color: white;*/
   /* font-style: italic;*/
   font-weight: bold;
		}
		
		
		.sides {
            display: flex;
    justify-content: center;
    flex-wrap: wrap;
			
			
		}

		.sportUl {
			padding-top: 10rem;
		}
        

		
		.sides div {
			
			/*border: 4px solid #3498Db;*/
			
			/*width: 6em;*/
			margin-bottom: 1em;
            border-radius: 0.5em;
			margin: 1em;
			
		}
		
		
		
		
		.centerText {
			text-align: center;
		}
		
		
		@media only screen and (max-width: 70em){
			.below {
				grid-template-columns: 1fr;
			}
			
			.backImage {
				height: 70vw;
			}
		}
			
			@media only screen and (max-width: 50em){
				.sides {
			/*grid-template-columns: 1fr 1fr;*/
		}
	}
			
		@media only screen and (max-device-width: 415px){

			.dist, .time {
				font-size: 2.4rem;
			}


			.sides div {
			font-size: 2em;
			}
			
			.sides {
			grid-template-columns: 1fr 1fr;
		}

		.smallerBlob {
			display: none;
		}

		.blobSport {
			margin-top: -20%;
			margin-left: 00%;
		}
			
		}
		
		
		
		
		