.app1 {
    view-transition-name: app1;
    contain: layout; /*independent*/
  /*  transition: all 6s;*/
  transform: rotate(40deg);
  margin-top: 271px;
margin-left: 1264px;
position: absolute;

/*z-index: -1;
position: absolute;*/
}


.blob1 {
    view-transition-name: blob1;
    contain: layout;
    position: absolute;
}



.app2 {
    view-transition-name: app2;
    contain: layout; /*independent*/
  /*  transition: all 6s;*/
  transform: rotate(28deg);

  margin-top: -130px;
margin-left: 38px;
position: absolute;
}


.app3 {
    view-transition-name: app3;

    contain: layout; /*independent*/
  /*  transition: all 6s;*/
  transform: rotate(50deg);
  margin-top: -480px;
  margin-left: 320px;
}


@keyframes fade-in {
    from {opacity: 0;} /* 215526 */
}

@keyframes fade-out {
    to {opacity: 0;} /* 215526 */
}

@keyframes slide-from-right {
    from {transform: translateX(30px);} /* 215526 */
}

@keyframes slide-to-left {
    from {transform: translateX(-30px);} /* 215526 */
}

::view-transition-old(root){
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
   
}
 /*201236, 1249*/

::view-transition-new(root){
    animation: 500ms cubic-bezier(0, 0, 0.2, 1) 500ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    /*201236, 1249*/
}

/*
::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 1s; 
}*/
/* 11:4808*/

/*My trans 16:30:52*/
::view-transition-old(banner-img),
::view-transition-new(banner-img){
    animation: none;
    mix-blend-mode: normal; /* 20:15*/
    transition: all 3s;
}

::view-transition-image-pair(banner-img){
    isolation: none;
}
